# 监听端口
PORT='3000'

# 存储类型
# local - 本机文件存储
# mongodb - MongoDB存储
NITRO_STORAGE_TYPE='local'

# 存档存放位置(仅在STORAGE_TYPE为local时有效)
NITRO_LOCAL_DATA_PATH='./data'

# MongoDB连接地址(仅在STORAGE_TYPE为mongodb时有效)
# 格式 mongodb://<username>:<password>@<host>:<port>
NITRO_MONGODB_URI='mongodb://localhost:27017'

# MongoDB数据库名(仅在type为mongodb时有效)
NITRO_MONGODB_DATABASE='unciv-srv'
